.main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: space-between;
	align-items: center;
	padding: 5vh 5vw;
}

.main > *,
.main ol {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	flex-direction: column;
}

.main > h1 {
	font-size: 8vh;
	margin: 5vh 0;
}

.searchBox form {
	width: 100%;
    height: 100%;
}

.searchBox input {
	width: 100%;
    height: 100%;
	border-radius: 10px;
	padding: 0 10px;
	font-size: 3vh;
	text-align: center;
}

.searchBox button {
	display: none;
}

.cuisinesList ul {
	line-height: 2em;
}

.cuisinesList li {
	display: inline;
	padding: 5px 10px;
	background: var(--secondary-background-color);
	margin: 5px;
	border-radius: 5px;
	white-space: nowrap;
}

.cuisinesList input[type=checkbox] {
	display: none;
}

.cuisinesList input[type=checkbox]:checked + span::before {
	content: "✅ ";
}

.cuisinesList label {
	cursor: pointer;
}

.cuisinesList label :last-child {
	font-size: 0.5em;
}

.cuisinesList label :last-child::before {
	content: " (";
}

.cuisinesList label :last-child::after {
	content: ")";
}

.hitsContainer {
	min-height: 30vh;
}

.hitsContainer button {
	margin: 1vh 0;
}

.hit {
	width: 100%;
	height: 4vh;
	font-size: 2vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--secondary-background-color);
	margin: 2px 0;
	box-shadow: 2px 1px 3px var(--secondary-background-color);
	border-radius: 10px;
	padding: 0 10px;
}

.hit > .hitName {
	width: 50%;
}

.hit > .hitCuisine, .hit > .hitPrice {
	width: 25%;
}

.poweredBy {
	margin-top: 5vh;
	height: 5vh;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.poweredBy div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100%;
}
